body{
    background-color: #f5f5f7 ;
    margin:0;
}
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
h1{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}
.h1{
    text-align: center; margin-top: 10px;
    background-color: white;
    margin-bottom: 0px;

    
      }
      .kisuije{background-color: white; margin-bottom: 0px; text-align: center;}
      #formation{
          margin-top: 0px;
         
      }
      .tkno{margin-bottom: 50px;  }
      #comp{   margin-left: 20px; }
   
        .row.test{
         }

    .a{
        border: 1px solid #FCD603;
        border-radius: 10px;
        padding: 0;
        margin-right: 10%;
        background-color: white;
    }    
    .ao{
        border: 1px solid #FCD603;
        border-radius: 10px;
        padding: 0;
        background-color: white;
        border-radius: 10px;
    }
.e{padding-top: 10px;}
.a:hover{
    box-shadow: 1px 1px 1px 1px ;
    transition-duration:0.2s ;
} 
.ao:hover{ box-shadow: 1px 1px 1px 1px;
    transition-duration:0.2s ;}

    .aa{padding: 0;}

    .exppro{
        margin-left: 10%;
        padding: 0; 
        margin-right: 3%;
    border-top: solid 5px #FCD603 ; background-color: white; 
    border-radius: 10px;}
        .exppror{
            padding: 0;border-top: solid 5px #FCD603 ;background-color: white;
            border-radius: 10px;}
    h2{text-align: center;  margin-bottom: 10px;background-color: black ; color: #FCD603; padding-bottom: 2px;}

    .loi{background-color: white;}


    a.cok.nav-link.text-white.cok :hover{color: #87CEEB;}
    .ex:hover{color: #87CEEB;}
    .fo:hover{color: #87CEEB;}
    .con:hover{color: #87CEEB;}

    .button{background-color: #FCD603; color:black; padding-top: 10px; padding-bottom: 5px; text-align: center; margin-right:40% ; margin-left: 40%; padding-right: 2%; padding-left: 2%; font-size: 20px; margin-bottom: 10px;}
    .buttone{background-color: #FCD603;  padding-top: 10px; padding-bottom: 5px; text-align: center; margin-right:37% ; margin-left: 37%; padding-right: 3%; padding-left: 3%; font-size: 20px; margin-top: 25px; color:black}
    .button:hover{background-color: black; color:#FCD603 ; transition-duration:0.5s}
    .buttone:hover{background-color: black; color:#FCD603; transition-duration:0.5s}
    svg:hover{fill:#FCD603 ; transition-duration:0.4s}
    .pad{background-color: #f5f5f7; margin-bottom:40px ; border-radius: 20px; margin-left: 5%;}
    .re{margin-right: 10%;}
    footer{}
    .po{margin-left: 4% ; margin-top: 40px;}
    .pa{margin-top: 40px;}
    .grap{color : #FCD603}
    .voyage{color : #007CFF}
    .svgv:hover{fill: #007CFF; transition-duration:0.4s}
    .ver{color: #51E012}
    .svg:hover{fill:#51E012; transition-duration:0.4s}
    .bas{background-color: #262626;}
.rond{color: white;}
.blan{color: white;}
a{text-decoration: none;  }
a:hover{text-decoration: none; }
.conta{color: white; text-decoration: none; font-size: 20px;}
.conta:hover{color:#FCD603 ;}

p{font-size: 16px;}

  
    
